@page
<head>
    @model PrivacyModel
    @{
        //ViewData["Title"] = "Privacy Policy";
    }
</head>
<body style="background-color:#badef8;">
    <div id="titulo">
        <p>
            <h1><img src="https://store.cloudflare.steamstatic.com/public/images//title_privacy.png"></h1>
        </p>
    </div>


    <div id="cuerpo" aling="center">
        <p>
            1. Definitions

            Wherever we talk about Personal Data below, we mean any information that can either itself identify you as an individual ("Personally Identifying Information") or that can be connected to you indirectly by linking it to Personally Identifying Information. Valve also processes anonymous data, aggregated or not, to analyze and produce statistics related to the habits, usage patterns, and demographics of customers as a group or as individuals. Such anonymous data does not allow the identification of the customers to which it relates. Valve may share anonymous data, aggregated or not, with third parties.

            Other capitalized terms in this Privacy Policy shall have the meanings defined in the Steam Subscriber Agreement ("SSA").
        </p>

        <p>
            2. The Types and Sources of Data We Collect

            2.1 Basic Account Data
            When setting up an Account, Valve will collect your email address and country of residence. You are also required to choose a user name and a password. The provision of this information is necessary to register a Steam User Account. During setup of your account, the account is automatically assigned a number (the "Steam ID") that is later used to reference your user account without directly exposing Personally Identifying Information about you.
            We do not require you to provide or use your real name for the setup of a Steam User Account.
        </p>
        <p>
            2.2 Transaction and Payment Data
            In order to make a transaction on Steam (e.g. to purchase Subscriptions for Content and Services or to fund your Steam Wallet), you may need to provide payment data to Valve to enable the transaction. If you pay by credit card, you need to provide typical credit card information (name, address, credit card number, expiration date and security code) to Valve, which Valve will process and transmit to the payment service provider of your choice to enable the transaction and perform anti-fraud checks. Likewise, Valve will receive data from your payment service provider for the same reasons.
        </p>
        <p>
            2.3 Other Data You Explicitly Submit
            We will collect and process Personal Data whenever you explicitly provide it to us or send it as part of communication with others on Steam, e.g. in Steam Community Forums, chats, or when you provide feedback or other user generated content. This data includes:
            Information that you post, comment or follow in any of our Content and Services;
            Information sent through chat;
            Information you provide when you request information or support from us or purchase Content and Services from us, including information necessary to process your orders with the relevant payment merchant or, in case of physical goods, shipping providers;
            Information you provide to us when participating in competitions, contests and tournaments or responding to surveys, e.g. your contact details.
        </p>
        <p>
            2.4 Your Use of the Steam Client and Websites
            We collect a variety of information through your general interaction with the websites, Content and Services offered by Steam. Personal Data we collect may include, but is not limited to, browser and device information, data collected through automated electronic interactions and application usage data.
            Likewise, we will track your process across our websites and applications to verify that you are not a bot and to optimize our services.
        </p>
        <p>
            2.5 Your Use of Games and other Subscriptions
            In order to provide you with services, we need to collect, store and use various information about your activity in our Content and Services. "Content-Related Information" includes your Steam ID, as well as what is usually referred to as "game statistics". By game statistics we mean information about your games' preferences, progress in the games, playtime, as well as information about the device you are using, including what operating system you are using, device settings, unique device identifiers, and crash data.

            2.6 Tracking Data and Cookies
            We use "Cookies", which are text files placed on your computer, and similar technologies (e.g. web beacons, pixels, ad tags and device identifiers) to help us analyze how users use our services, as well as to improve the services we are offering, to improve marketing, analytics or website functionality. The use of Cookies is standard on the internet. Although most web browsers automatically accept cookies, the decision of whether to accept or not is yours. You may adjust your browser settings to prevent the reception of cookies, or to provide notification whenever a cookie is sent to you. You may refuse the use of cookies by selecting the appropriate settings on your browser. The management of the use of cookies for each browser is further detailed on the following help page: https://support.steampowered.com/kb_article.php?ref=9076-QYOJ-0930. However, please note that if you do this, you may not be able to access the full functionality of our websites.
            When you visit any of our services, our servers log your IP address, which is a number that is automatically assigned to the network your computer is part of.
        </p>
        2.7 Content Recommendations
        We may process information collected under this section 3 so that content, products and services shown on the pages of the Steam store and in update messages displayed when launching the Steam Client can be tailored to meet your needs and populated with relevant recommendations and offers. This is done to improve your customer experience. You can prevent the processing of your data in this way by turning off the automatic loading of the Steam store page and of Steam notifications in the "Interface" section of the Steam Client settings.
        Subject to your separate consent or where explicitly permitted under applicable laws on email marketing, Valve may send you marketing messages about products and services offered by Valve to your email address. In such a case we may also use your collected information to customize such marketing messages as well as collect information on whether you opened such messages and which links in their text you followed.
        You can opt out or withdraw your consent to receive marketing emails at any time by either withdrawing the consent on the same page where you previously provided it or clicking the "unsubscribe" link provided in every marketing email. Alternatively, you can select what kinds of emails you wish to receive on the email setting page.
        <p>
            2.8 Information Required to Detect Violations
            We collect certain data that is required for our detection, investigation and prevention of fraud, cheating and other violations of the SSA and applicable laws ("Violations"). This data is used only for the purposes of detection, investigation, prevention and, where applicable, acting on of such Violations and stored only for the minimum amount of time needed for this purpose. If the data indicates that a Violation has occurred, we will further store the data for the establishment, exercise or defense of legal claims during the applicable statute of limitations or until a legal case related to it has been resolved. Please note that the specific data stored for this purpose may not be disclosed to you if the disclosure will compromise the mechanism through which we detect, investigate and prevent such Violations.

        </p>
    </div>

</body>
